/* Various Texts */

h1 {
    background-color: green;
    font-family: 'Courier New', Courier, monospace;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 400%;
    color: white;
}

a {
    color:green
}

/* Various backgrounds */

div.bamboo {
    background-image: url('Bamboo/Images/bamboo.jpg');
}

form {
    background-color: seashell;
}

button {
    background-color: seashell;
}

/* Styled flexbox */

section.container {
    display: flex;
  }

  section div.flex-item {
    flex: 1;
    text-align: center;
    background-color: greenyellow;
    margin: 5px;
    padding: 5px;
  }

  section.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-row: repeat(2,1fr);
            border-style: dotted;
            border-width: 9px;
            width: 800px;
            height: 550px;
            margin: auto;
            grid-auto-flow: row dense;
}

/* Styled tables */

table, tr, td, th {
    border: 1px solid black;
    margin: auto;
}

th {
    background-color: darkorange;
    color: lightyellow;
    font-family: cursive;
    padding:20px;
}

td {
    border: dotted 2px darkorange;
    font-size: 20px;
    padding: 20px;
    color: darkorange;
    background-color: lightyellow;
}

/* Styled lists */

li.styled {
    background-color: seashell;
    color:green;
}

ul.styled {
    font-family:cursive;
}
